body {
  margin: 0;
  font-family: sans-serif;
  background: #f5f5f5;
}

header {
  background: #1976d2;
  color: white;
  padding: 16px;
  text-align: center;
}

#program-list {
  list-style: none;
  padding: 16px;
  margin: 0;
}

.program-item {
  background: white;
  padding: 16px;
  margin-bottom: 12px;

  border-radius: 12px;

  display: flex;
  gap: 16px;

  font-size: 1.1rem;
}

.time {
  font-weight: bold;
  min-width: 70px;
}

.active {
  background: #fff59d;
  border: 2px solid orange;
}

.controls {
  display: flex;
  gap: 12px;

  padding: 16px;
}

button {
  flex: 1;

  padding: 16px;

  font-size: 1rem;

  border: none;
  border-radius: 12px;

  background: #1976d2;
  color: white;
}

.time-line {
  height: 4px;
  background: red;
  border-radius: 999px;
  margin: 12px 0;
}